/* style.css */


TODO Need to differentiate the .responsive tag between the index and tryptych views

  body {
    background-color: #a2b1c6;
  }
  div.gallery {
    border: 1px solid #ccc;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  .desc {
    padding: 15px;
    text-align: center;
    font: 15px arial, sans-serif;
  }
  div.desc1 {
    padding: 15px;
    text-align: center;
    font: 15px arial, sans-serif;
    background: #43FF01;
  }

  div.desc2 {
    padding: 15px;
    text-align: center;
    font: 15px arial, sans-serif;
    background: #F40008;
  }
  div.title {
    padding: 15px;
    text-align: left;
    font: 30px arial, sans-serif;
    color: #496075;
  }
  div.subtitle {
    padding: 15px;
    text-align: left;
    font: 15px arial, sans-serif;
    color: #000000;
  }
  * {
      box-sizing: border-box;
  }

/*

Block for Tryptych

 .responsive {
    padding: 0 6px;
    float: left;
    width: 33.332%;
 }
*/

  .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
  }

  @media only screen and (max-width: 700px){
      .responsive {
          width: 49.99999%;
          margin: 6px 0;
      }
  }

  @media only screen and (max-width: 500px){
      .responsive {
          width: 100%;
      }
  }

  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

  .box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
  }

  .red {
    background: #F40008;
  }

  .green {
    background: #43ff01;
  }

  .white {
    background: #ffffff;
  }
